/**
 * sliders
 */
.sliders{
	position:absolute;
	max-height:336px;
	width:100%;
	overflow:hidden;
	bottom: 0px !important;
}
.sliders ul {
	visibility:hidden;
}
.slider-title{
	font-size:2.4em;
	font-weight:300;
	line-height:1em;
}
.slider-paragraph{
	font-size:1em;
	line-height:1em;
}
.sliders .btn-primary{
	background:#FEBD00;
	padding: 10% 20%;
}
