/**
 * sliders
 */

.sliders{
	position:relative;
	max-height:336px;
	width:777px;
	overflow:hidden;
	display: block;
}
.sliders ul {
	visibility:hidden;
}
.slider-title{
	font-size:1.6em;
	font-weight:300;
	line-height:1em;

}
.slider-paragraph{
	font-size:0.8em;
	line-height:1.4em;

}
.sliders .btn-primary{
	background:#FEBD00;
	padding: 10% 20%;

}

@media only screen and (max-width: 840px) {
	.slider-paragraph{
		font-size: 0.6em !important;
		line-height:20px;
	}
}
